.link-button {
  display: inline-block;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: .75rem 1.375rem;
  color: bisque;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.link-button1 {
  float: right;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: .75rem 1.375rem;
  color: bisque;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

body {
  background-color: #FFFFFF;
}

.heading {
  font-size: 100px;
  font-weight: bold;
  color: bisque;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 5px;
}

.heading1 {
  font-size: 50px;
  font-weight: bold;
  color:cadetblue;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.headingdest {
  float: left;
  font-weight: bold;
  color:cadetblue;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-left: 4%;
}

.headingdest{
  font-size: 50px;
}

.stylepage {
  display:flow-root;
  background-color: floralwhite;
  color: darksalmon;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 10px;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
 
}

.stylepage:hover {
  background-color: beige;
}

.heading2 {
  font-size: 27px;
  font-weight: bold;
  color: cadetblue;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.heading3 {
  font-size: 20px;
  font-weight: bold;
  color:darkseagreen;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}


.heading4 {
  font-size: 20px;
  font-weight: bold;
  color:darkseagreen;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about {
  font-size: 27px;
  font-weight: bold;
  color: cadetblue;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}

.image-container a {
  display:flow-root;
  width: 33.33%;
  padding: 5px;
}

.image-container img {
  width: 100%;
  height: auto;
}

em {
  font-style: italic;
}

#default-text {
  display:contents;
}

.hi {
  display: flex;
  flex-wrap: wrap;
  padding: 20px
}

.hi img {
  flex:1
}

.hi img {
  width: 25%
}

.hi img {
  margin-right: 20px
}

.section{
  border-bottom: 1px dashed rgb(24, 145, 153);
}

.hi1 {
  display: flex;
  flex-wrap: wrap;
  padding: 50px
}

.hi1 img {
  flex:2
}

.hi1 img {
  width: 20%
}

.hi1 img {
  margin-right: 90px
}

form {
  max-width: 500px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 0.5em;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

